body {
    background-color: cadetblue;
    padding-top: 25vh;
}

div {
    background-color: aliceblue;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    height: 60%;
    width: 50%;
    box-shadow: 3px 3px 20px 3px;
}

table {
    text-align: center;
    border-spacing: 30px;
    height: 65%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

p {
    text-align: center;
}

#q1 {
    font-size: 25px;
}

#q2 {
    font-size: 20px;
}

tr {
    margin: auto;

}

td {
    background-color: wheat;
    border-radius: 5px;
    margin: 5px;
    width: 170px;
    height: 30px;
    font-size: medium;

}

.prav{
    background-color: greenyellow;
}

.loj {
    background-color: crimson;
}